.ResetBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ResetTitle {
  font-family: "Italianno", cursive;
  font-size: 2rem;
  margin: 0;
}

.ResetImg {
  max-width: 100px;
  height: auto;
  float: left;
  animation: scale 2s ease infinite;
}

.ResetImg:hover {
  cursor: pointer;
  animation: scale 1s ease infinite;
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
