.Cookie {
  width: 450px;
  max-width: 80%;
  height: auto;
  float: left;
  animation: rotate-up-and-back 3s ease infinite;
}

.Cookie:hover {
  cursor: pointer;
  animation: rotate-up-and-back 1s ease infinite;
}

.Main-page {
  max-width: 80%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  animation: opacity 0.5s ease-in-out;
}

.Main-title {
  font-size: 5rem;
  max-width: 400px;
}

@media screen and (max-width: 51rem) {
  .Main-page {
    flex-direction: column;
  }
  .Main-title {
    font-size: 4rem;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 26rem) {
  .Main-page {
    flex-direction: column;
  }
  .Main-title {
    font-size: 3rem;
    max-width: 300px;
    margin-bottom: 0px;
  }
}

@keyframes rotate-up-and-back {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: -5deg;
  }
  50% {
    rotate: 5deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
